body{
    background-color: bisque;
}



.horizontal-size{
    width: 100px;
    height: 50px;
}
.vertical-size{
    height: 100px;
    width: 50px;
}

button{
    height: 50px;
    width: 50px;
}

.display{
    background-color: aliceblue;
    width: 200px;
    height: 100px;
}

